<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <div th:replace="~{sharedAdmin :: navbar ('admin')}"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Users</h3>
            </div>
            <div class="col right">
                <a href="/user/add" class="btn btn-primary">Add User</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead id="userTableHead">
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Enabled</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        <tr th:each="user : ${users}">
                            <td th:text="${user.userId}">1</td>
                            <td th:text="${user.username}">jimmyj</td>
                            <td th:text="${user.firstName}">Jim</td>
                            <td th:text="${user.lastName}">Jones</td>
                            <td th:text="${user.email}">jim@peoplestemple.com</td>
                            <td th:text="${user.enabled}">Enabled</td>
                            <td>
                                <a th:href="@{/deletelinkhere)}" href="/" class="btn btn-danger">Delete User</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>