<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Customers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div th:replace="~{sharedNav :: navbar ('customers')}"></div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead id="customerTableHead">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody id="customerTableBody">
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.customerId}">1</td>
                        <td th:text="${customer.customerFirstName}">Jim</td>
                        <td th:text="${customer.customerLastName}">Jones</td>
                        <td th:text="${customer.companyName}">Peoples Temple</td>
                        <td th:text="${customer.address}">Company Address</td>
                        <td th:text="${customer.phone}">Company Phone Number</td>
                        <td th:text="${customer.email}">Customer's Email</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <button class="btn btn-primary"><a href="/customer-add">Add A Customer</a></button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>