<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <style>
        .container {
            padding-top: 15px;
            padding-bottom: 50px;
        }
    </style>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <div class="container">
        <div th:replace="~{sharedNav :: navbar ('salesHome')}"></div>

        <div>
            <table class="table">
                <h3>Pending Orders</h3>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Company</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sale : ${salesPending}">
                        <td th:text="${sale.orderId}">Order ID</td>
                        <td th:text="${sale.customer.customerFirstName} + ' ' + ${sale.customer.customerLastName}">
                            Customer First and Last Name</td>
                        <td th:text="${sale.customer.companyName}">Company</td>
                        <td th:text="${sale.orderDate}">Order Date</td>
                        <td th:text="${sale.price}">Total</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table class="table">
                <h3>Completed Orders</h3>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Company</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Fullfilment Date</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="saleC : ${salesCompleted}">
                        <td th:text="${saleC.orderId}">Order Id</td>
                        <td th:text="${saleC.customer.customerFirstName} + ' ' + ${visit.customer.customerLastName}" }>
                            Customer First and Last Name</td>
                        <td th:text="${saleC.customer.companyName}">Company Name</td>
                        <td th:text="${saleC.orderDate}">Order Date</td>
                        <td th:text="${saleC.location}">Fullfilment Date</td>
                        <td th:text="${saleC.price}">Total</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table class="table">
                <h3>Archived Orders</h3>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Company</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="saleA : ${salesArchived}">
                        <td th:text="${saleA.orderId}">Order ID</td>
                        <td th:text="${saleA.customer.customerFirstName} + ' ' + ${sale.customer.customerLastName}">
                            Customer First and Last Name</td>
                        <td th:text="${saleA.customer.companyName}">Company</td>
                        <td th:text="${saleA.orderDate}">Order Date</td>
                        <td th:text="${saleA.price}">Total</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <button class="btn btn-primary"><a href="/orders/add">Add An Order</a></button>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>